body {
    padding: 50px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    width: 960px;
    margin-right: auto;
    margin-left: auto;
    display: block;;
}

a {
    color: #00B7FF;
}

footer {
    text-align: center;
}

path {
    fill-opacity: 0.5;
    stroke: #000;
    stroke-width: 1.5px;
}

path:hover {
    fill-opacity: 1.0;
}

circle {
    fill-opacity: 0.5;
    stroke: #000;
}

circle:hover {
    fill-opacity: 1.0;
}

.traffic_spring {
    fill: rgb(178,223,138);
}

.traffic_summer {
    fill: rgb(51,160,44);
}

.traffic_fall {
    fill: rgb(166,206,227);
}

.traffic_winter {
    fill: rgb(31,120,180);
}

.popup_content {
    text-align: left;
}

#legend {
    margin-left: auto;
    margin-right: auto;
    display: block;
    padding-top: 0.25em;
    padding-bottom: 1em;
}

#map {
    width: 960px;
    height: 400px;
    display: block;
    margin-right: auto;
    margin-left: auto;
}