html, body, #map {
    margin: 0;
    width: 100%;
    height: 100%;
}
ul {
    list-style-type: none;
}

a {
    color: #00B7FF;
}

footer {
    text-align: center;
}


path:hover {
    fill-opacity: .65;
}

#text {
    border-radius: 8px;

    float: left;
    position: relative;
    bottom: 7em;
    margin-left: auto;
    margin-right: auto;
    width: 800px;
    z-index: 20000;
    color: black;
    background-color: gray;
    opacity: .5;
    padding: 0 0.5em 0.5em 0.5em;
}

